body {
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-between;
    background-color: #a3c68c;
}
header > img {
    height: 60px;
    width: 90px;
}
header > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
}
header nav > a:link {
    text-decoration: none;
}
header nav > a:hover {
    color: red;
}
section h3 {
    text-align: center;
}
footer {
    height: 100px;
    width: 100%;
    background-color: cornflowerblue;
}
.main {
    height: 500px;
    width: 100%;
    background-color: #879676;

    grid-template-areas: "1 2 "
                        "dp dpr";
    
    display: grid;
}
.dp {
    display: grid;
    grid-area: dp;
    margin: 0 auto;
    
}
.dpr {
    display: grid;
    grid-area: dpr;
    margin: 0 auto;
}
.cidade > input[type="text"] {
    width: 250px;
}
.estado {
    margin-left: 10px;
}
.prof {
    display: flex;
    margin-top: 5px;
}
.dentro {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 5px;
}
.salver {
    display: flex;
    margin-left: 10px;
}
.salver > input[type="submit"] {
    width: 240px;
}
.dap {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.dapro {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.dp > form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.idade > input[type="number"] {
    width: 30px;
}
.dpr > form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 300px;
}
