body {
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-between;
    background-color: #a3c68c;
}
header > img {
    height: 60px;
    width: 90px;
}
header > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
}
header nav > a:link {
    text-decoration: none;
}
header nav > a:hover {
    color: red;
}
.main {
    display: flex;
    height: 500px;
}
.main > section {
    height: 500px;
    width: 80%;
    background-color: #879676;
    flex: 4;
}
.main > aside {
    background-color: rgb(11, 67, 69);
    flex: 1;
}
footer {
    height: 100px;
    width: 100%;
    background-color: cornflowerblue;
}
section h3 {
    text-align: center;
}